<div #graph class="graph"
     (dblclick)="createEvent($event, graph)"
     (click)="unSelect(graph, $event)">

    <event
            *ngFor="let event of eventList"
            [tao_event]="event"
            (drag)="handleDrag($event)"
            (historyUpdate) = "handleHistoryUpdate()"
            (mousedown)="selectEvent(event, $event)"
            [selected]="event == selectedParticle || event.groupedDOM"
            [shiftSelected]="event == shiftSelectedSource">
    </event>

    <edge
            *ngFor="let edge of edgeList"
            [tao_edge]="edge"
            (click)="selectEdge(edge, $event)"
            [selected]="edge == selectedParticle"
            [edgeList]="edgeList">
    </edge>

    <group
            *ngFor="let group of groupList"
            [tao_group]="group"
            [selected]="group == selectedParticle || group.groupedDOM"
            (click)="selectGroup($event)"
            (dragGroup)="handleDragGroup($event)">

    </group>

    <sidebar
            [selectedParticle]="selectedParticle"
            [eventList]="eventList"
            [edgeList]="edgeList"
            [variableList]="variableList"
            [groupList]="groupList"
            [groupStart]="groupStart"
            [graphData]="graphData"
            [graphVar]="graphingVariable"
            [threads]="threads"
            [variablePanel]="selectedVariablePanel"
            [simulationName]="simulationName"
            [simulationDescription]="simulationDescription"
            [timeUnits]="timeUnits"
            [threads]="threads"
            [copyVariable]="copyVariable"
            (resetParticle)="unSelectFromPanel($event)"
            (downloadERG)="handleDownload()"
            (runERG)="handleRun()"
            (openERG)="handleOpen($event)"
            (changeNameERG)="simulationName = $event"
            (changeDescriptionERG)="simulationDescription = $event"
            (changeTimeERG)="timeUnits = $event"
            (changeThreadNumber)="updateThreads($event)"
            (changeGraphVar)="updateGraphVariable($event)"
            (historyUpdate)="handleHistoryUpdate()"
            (undo)="handleUndo()"
            (localRun)="handleLocal()"
            (paste)="pasteSelectedItem()"
            (copy)="copySelectedItem()"
            (group)="groupAndFinish()"
            (ungroup)="handleUngroup($event)">
    </sidebar>

</div>