<div id="sidebar">
    <div id="contents"
         [ngStyle]="{
            'display': selectedParticle == null && !variablePanel ? 'none' : 'block'
        }">
        <div class="editor">
            <div id="node-editor"
                 [ngStyle]="{
                    'display': typeOfNode() ? 'block' : 'none'
                }">
                <span class="title">NAME</span>
                <input type="text" #eventName [ngModel]="typeOfNode() ? selectedParticle.name : ''"
                       (change)="updateEvent(eventName, eventTrace, eventStateChange, eventDescription)">
                <br /> <br />

                <span class="title">TRACE</span>
                <span [ngStyle]="{'display': 'inline-block'}" class="instructions">To trace an event, check the box:</span>
                <input #eventTrace
                       [ngStyle]="{'display': 'inline-block'}"
                       type="checkbox"
                       id="traceEvent"
                       [ngModel]="typeOfNode() ? selectedParticle.trace : false"
                       (change)="updateEvent(eventName, eventTrace, eventStateChange, eventDescription)">

                <br /> <br />

                <span class="title">DESCRIPTION</span>
                <textarea type="text" #eventDescription [ngModel]="typeOfNode() ? selectedParticle.description : ''"
                          (change)="updateEvent(eventName, eventTrace, eventStateChange, eventDescription)"
                          [ngStyle]="{'height': '100px'}"></textarea>

                <br /> <br />

                <span class="title">STATE CHANGE</span>
                <textarea #eventStateChange [ngModel]="typeOfNode() ? selectedParticle.stateChange : ''"
                          (change)="updateEvent(eventName, eventTrace, eventStateChange, eventDescription)"></textarea>
                <br /> <br />

                <span class="title">PARAMETERS</span>
                <ul #eventParameters>
                    <li *ngFor="let parameter of keys((typeOfNode() ? selectedParticle.parameters : emptyDict))"
                        [ngStyle]="{'height': '50px'}">
                        <input #changeName
                        class="code variableName" [ngModel]="parameter"
                        [ngStyle]="{'margin-top': '5px'}"
                        (change)="changeEventParameterName(changeName, parameter)"/>
                        <a class="right"
                           (click)="deleteParameterEvent(parameter)"
                           [ngStyle]="{'margin-top': '5px'}">✕</a>
                    </li>
                    <span class="instructions">To add a parameter, enter a name for the parameter below and hit enter to add it to the list.</span>
                    <input #addParam
                           class="code variableNameInput"
                           type="text"
                           (keyup.enter)="addParameterToEvent(addParam)">

                </ul>
            </div>
            <div id="edge-editor"
                 [ngStyle]="{
                    'display': typeOfEdge() ? 'block' : 'none'
                 }">
                <span class="title">SOURCE</span>
                <input type="text" disabled="" [ngModel]="typeOfEdge() ? selectedParticle.source : ''">
                <br /> <br />
                <span class="title">TARGET</span>
                <input type="text" disabled="" [ngModel]="typeOfEdge() ? selectedParticle.target : ''">
                <br /> <br />

                <span class="title"
                      *ngIf="typeOfEdge() && selectedParticle.getCopies(edgeList).length > 1" id="edgeListDisplay">EDGES</span>
                <span class="instructions"
                      *ngIf="typeOfEdge() && selectedParticle.getCopies(edgeList).length > 1"
                      id="edgeListDisplayInstructions">There are multiple edges from the given source to the given target. Click on an edge to load it.</span>


                <ul #multipleEdgeSelector
                    *ngIf="typeOfEdge() && selectedParticle.getCopies(edgeList).length > 1">
                    <li class="edgeDropDown"
                        *ngFor="let edge of (typeOfEdge() ? selectedParticle.getCopies(edgeList) : emptyList); let id = index"
                        (click)="setEdge(edge)">
                        <span>Edge {{id + 1}}</span>
                            <span class="right"
                                  *ngIf="edge == selectedParticle">←</span>
                    </li>
                </ul>
                <br />

                <span class="title">DESCRIPTION</span>
                <textarea type="text" #edgeDescription [ngModel]="typeOfEdge() ? selectedParticle.description : ''"
                          (change)="updateEdge(edgeType, edgeCondition, edgeDelay, edgePriority, edgeParameters, edgeDescription, edgeSubType)"
                          [ngStyle]="{'height': '100px'}"></textarea>

                <br /> <br />

                <span class="title">EDGE TYPE</span>
                <select #edgeType
                        (change)="updateEdge(edgeType, edgeCondition, edgeDelay, edgePriority, edgeParameters, edgeDescription, edgeSubType)"
                        [ngModel]="typeOfEdge() ? selectedParticle.type : ''"
                        [ngStyle]="{'display': 'inline-block'}">
                    <option value="Scheduling">Scheduling Edge</option>
                    <option value="Pending">Pending Edge</option>
                    <option value="Cancelling">Cancelling Edge</option>
                </select>


                <select #edgeSubType
                        (change)="updateEdge(edgeType, edgeCondition, edgeDelay, edgePriority, edgeParameters, edgeDescription, edgeSubType)"
                        [ngModel]="typeOfEdge() ? selectedParticle.subType : 'Next'"
                        *ngIf="typeOfEdge() ? selectedParticle.type == 'Cancelling' : false">
                    <option value="Next">Next</option>
                    <option value="Params">Params</option>
                    <option value="All">All</option>
                </select>

                <br /> <br />

                <span class="title">CONDITION</span>
                <textarea #edgeCondition [ngModel]="typeOfEdge() ? selectedParticle.condition : ''"
                          (change)="updateEdge(edgeType, edgeCondition, edgeDelay, edgePriority, edgeParameters, edgeDescription, edgeSubType)"
                          [ngStyle]="{'height': '100px'}"></textarea>
                <br /> <br />

                <span class="title" >DELAY</span>
                <input type="text" #edgeDelay
                       [ngModel]="typeOfEdge() ? selectedParticle.delay : 0"
                       (change)="updateEdge(edgeType, edgeCondition, edgeDelay, edgePriority, edgeParameters, edgeDescription, edgeSubType)">
                <br /> <br />

                <span class="title">PRIORITY</span>
                <input type="text" #edgePriority
                       [ngModel]="typeOfEdge() ? selectedParticle.priority : 0"
                       (change)="updateEdge(edgeType, edgeCondition, edgeDelay, edgePriority, edgeParameters, edgeDescription, edgeSubType)">
                <br /> <br />

                <span class="title">PARAMETERS</span>
                <ul #edgeParameters>
                    <li class="edgeParams" *ngFor="let edgeParam of keys(typeOfEdge() ? selectedParticle.getTargetEvent(eventList).parameters : emptyDict)">
                        <span class="code variableName">{{edgeParam}}</span>
                        <br />
                        <input placeholder="Parameter Value"
                               class="parameterVal"
                               [ngModel]="typeOfEdge() ? selectedParticle.parameters[edgeParam] : ''"
                               (change)="updateEdge(edgeType, edgeCondition, edgeDelay, edgePriority, edgeParameters, edgeDescription, edgeSubType)">
                    </li>
                </ul>
            </div>

            <div id="group-editor"
                 [ngStyle]="{
                    'display': typeOfGroup() ? 'block' : 'none'
                }">
                <span class="title">GROUP NAME</span>
                <input type="text" #groupName [ngModel]="typeOfGroup() ? selectedParticle.name : ''"
                       (change)="selectedParticle.name = groupName.value">
                <br /> <br /> <br />

                <span class="title">Events</span>
                <ul>
                    <li *ngFor="let event of (typeOfGroup() ? selectedParticle.getEvents() : emptyList)"
                        (click)="selectedParticle = event">
                        <span class="code">{{event.name}}</span>
                        <a class="right"
                           (click)="deleteGroupEvent(event)">✕</a>
                        <br />
                    </li>
                </ul>
                <br /> <br />

                <span class="title">Edges</span>
                <ul>
                    <li *ngFor="let edge of (typeOfGroup() ? selectedParticle.getEdges() : emptyList)"
                        (click)="selectedParticle = edge">
                        <span class="code">
                            Edge from {{edge.source}} to {{edge.target}}
                        </span>
                        <a class="right"
                           (click)="deleteGroupEdge(edge)">✕</a>
                        <br />
                    </li>
                </ul>
                <br /> <br />

                <span class="title">Inner Groups</span>
                <ul>
                    <li *ngFor="let group of (typeOfGroup() ? selectedParticle.getGroups() : emptyList)"
                        (click)="selectedParticle = group">
                        <span class="code">{{group.name}}</span>
                    </li>
                </ul>
            </div>

            <VariablePanel
                    [selected]="variablePanel"
                    [simulationName]="simulationName"
                    [simulationDescription]="simulationDescription"
                    [timeUnits]="timeUnits"
                    [threads]="threads"
                    [variableList]="variableList"
                    (changeName)="emitNameERG($event)"
                    (changeDescription)="emitDescriptionERG($event)"
                    (changeTime)="emitTimeERG($event)"
                    (changeThreadNumber)="emitThreadNumber($event)"
                    (changeGraphVar)="emitChangeGraph($event)"
                    (variableHistoryUpdate)="emitHistoryUpdate()">
            </VariablePanel>

        </div>
        <div class="tao-panel-footer"
             *ngIf="typeOfNode() || typeOfEdge()">
            <div class="right">
                <a class="tao-footer-action-button green taobtn"
                   (click)="storeCopiedVariable()">Copy</a>
                <a class="tao-footer-action-button green taobtn"
                   (click)="typeOfNode() ?
                    deleteEvent(selectedParticle) :
                    (typeOfEdge() ?
                    deleteEdge() :
                    logError('Element not found'))">Delete</a>

                <a class="tao-footer-action-button green taobtn"
                   (click)="typeOfNode() ?
                    updateEvent(eventName, eventTrace, eventStateChange, eventDescription) :
                    (typeOfEdge() ?
                    updateEdge(edgeType, edgeCondition, edgeDelay, edgePriority, edgeParameters, edgeDescription, edgeSubType) :
                    logError('Element not found'))">Update</a>
            </div>
        </div>

        <div class="tao-panel-footer"
             *ngIf="typeOfGroup()">
             <div class="right">
                <a class="tao-footer-action-button green"
                   *ngIf="typeOfGroup() && selectedParticle.parent == null"
                   (click)="handleUngroup()">Ungroup</a>
                 <a class="tao-footer-action-button green"
                    *ngIf="typeOfGroup() && selectedParticle.parent != null"
                    (click)="selectedParticle = selectedParticle.parent">Back</a>
             </div>
        </div>

        <div class="tao-panel-footer"
             *ngIf="variablePanel">
             <div class="right">
                 <a class="tao-footer-action-button green"
                    (click)="handleLocalRun()">Run Locally</a>
                 <a class="tao-footer-action-button green"
                    (click)="handleDownload()">Download Tao File</a>
             </div>
        </div>

    </div>


    <ul id="menu">
        <li id="run"
            class="taobtn"
            (click)="handleRun()">
            <a>
                <span class="icon">►</span>
                <br>
                <span>RUN</span>
            </a>
        </li>
        <li id="globals"
            class="taobtn"
            (click)="loadVariablePanel()">
            <a>
                <span class="icon"><strong>{&nbsp;}</strong></span>
                <br>
                <span>GLOBALS</span>
            </a>
        </li>
        <li id="graph"
            class="taobtn"
            (click)="taoGraph.open()">
            <a>
                <span class="icon"><strong>↱</strong></span>
                <br>
                <span>GRAPH</span>
            </a>
        </li>
        <li id="group"
            class="taobtn"
            (click)="beginGroup()">
            <a>
                <span class="icon"><strong>...</strong></span>
                <br>
                <span>{{groupStart ? 'FINISH' : 'GROUP'}}</span>
            </a>
        </li>
        <li id="open"
            class="taobtn"
            (click)="file.click()">
            <input #file type="file"
                   (change)="handleOpen($event)"
                   [ngStyle]="{'display': 'none'}">
            <a>
                <span class="icon"><strong>↑</strong></span>
                <br>
                <span>OPEN</span>
            </a>
        </li>
        <li id="paste"
            class="taobtn"
            (click)="pasteItem()">
            <a>
                <span class="icon"><strong>⎀</strong></span>
                <br>
                <span>PASTE</span>
            </a>
        </li>
        <li id="undo"
            class="taobtn"
            (click)="handleUndo()">
            <a>
                <span class="icon"><strong>↺</strong></span>
                <br>
                <span>UNDO</span>
            </a>
        </li>
        <li id="help"
            class="taobtn"
            (click)="helpDialogue.open()">
            <a>
                <span class="icon"><strong>?</strong></span>
                <br>
                <span>HELP</span>
            </a>
        </li>
    </ul>
</div>

<help #helpDialogue></help>
<graph #taoGraph [graphData]="graphData" [variableList]="variableList" [graphingVariable]="graphVar" [threads]="threads"></graph>