/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.group {
    height: 70px;
    width: 70px;
    background: hsla(350,83%,95%,1);
    border: 3px dotted hsla(10,95%,37%,1);
    border-radius: 85px;
    text-align: center;
    opacity: 50;
    position: absolute;

    z-index: 2;
    -webkit-backface-visibility: hidden;
    color: hsla(10,95%,37%,1);
}

.group span {
    line-height: 65px;
    color: inherit;
    font-size: 14px;
}

.node {
    border-radius: 65px;
    background: rgb(237, 244, 249);
    border: 2px solid rgb(21, 136, 209);
    opacity: 50;

    width: 70px;
    height: 70px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-backface-visibility: hidden;

    text-align: center;
    color: rgb(21, 136, 209);
}

.node span {
    color: inherit;
    font-size: 14px;
    line-height: 65px;
}

.runNode {
    border: 2px solid rgb(22, 150, 136);
    background: rgb(231, 242, 241);
    color: rgb(22, 150, 136);
}

.selectedNode {
    border: 2px solid rgb(252, 109, 33);
    background: rgb(255, 243, 224);
    color: rgb(252, 109, 33);
}

.shiftSelectedNode {
    border: 2px solid rgb(182, 113, 182);
    background: rgb(244, 236, 246);
    color: rgb(182, 113, 182);
}


.line {
    position: absolute;
    transform-origin: top left;

    height: 0px;
}

.segment.selected {
    border: 2px solid rgb(255, 110, 122);
    color: rgb(255, 110, 122);
}

.straight {
    border: 1px solid rgb(0, 0, 0);

    border: 1px solid rgb(84, 110, 122);

}

.dotted {
    border: none;
    border-top: 2px dotted rgb(0, 0, 0);
    background-color: #fff;

}

.node.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.node:hover {
    cursor: pointer;
}

.group:hover {
    cursor: pointer;
}

.node.dragging {
    z-index: 99;
}

.segment.line {
    position: absolute;
    top: 0;
    left: 0;
    /*border: 1px solid rgb(84, 110, 122);*/
    /*background: rgb(84, 110, 122);*/
    z-index: 1;

    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-backface-visibility: hidden;
}

.segment.circle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 50%;

    -webkit-transform: rotate(108deg);
    -moz-transform: rotate(108deg);
    -ms-transform: rotate(108deg);
    transform: rotate(108deg);
    width: 70px;
    height: 70px;
}

.segment.circle.straight {
    border: 2px solid rgb(84, 110, 122);
}

.segment.circle.dotted {
    border: 2px dotted rgb(84, 110, 122);
}

.segment.circle.straight.selected {
    border: 2px solid rgb(255, 110, 122);
}

.segment.circle.dotted.selected {
    border: 2px solid rgb(255, 110, 122);
}

.arrow-tip {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid;
    float: right;
}


.graph {
    height: 100vh;
    background-image: url(../images/grid.png);
}
