html {
    height: 100%;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', helvetica, san-serif;
}

input {
    font-family: 'Roboto', helvetica, san-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.hidden {
    /*display: none !important;*/
}

#stage {
    display: block;
    height: 100%;
    width: calc(100% - 75px);
    overflow: hidden;
    float: left;
}

#sidebar {
    display: block;
    float: right;
    height: 100vh;
    /*margin-top: 50px;*/
    background-color: rgb(98, 125, 137);
    position: relative;
    right: 0;
    top: 0;
    z-index: 999;
    opacity: 0.9;
}

#menu {
    display: block;
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 75px;
    height: 100%;
    float: right;
    background-color: rgb(98, 125, 137);
    position: relative;
}

#menu li {
    color: #ffffff;
    height: 60px;
    padding: 20px 0 70px 0;
    text-align: center;
}

#menu li:hover {
    background-color: rgb(214, 220, 223);
    color: rgb(98, 125, 137);
}

#menu li span {
    font-size: 12px;
    display: inline-block;
    padding-bottom: 6px;
}

#menu li span.icon {
    font-size: 16px;
}


#contents {
    display: block;
    height: 100%;
    width: 400px;
    float: left;
    background-color: rgb(214, 220, 223);
}

.editor {
    color: rgb(98, 125, 137);
    padding: 15px;
    height: calc(100% - 66px - 30px);
    overflow: scroll;
}

.editor::-webkit-scrollbar {
    display: none;
}

.editor span.title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    display: block;
    padding: 0 0 10px 0;
}

.editor span.instructions {
    font-size: 12px;
    color: inherit;
    display: block;
    padding: 10px 0 10px 0;
}

.editor input {
    font-size: 14px;
    background-color: rgb(241, 242, 243);
    color: inherit;
    width: calc(100% - 30px);
    padding: 5px 15px;
    height: 30px;
    border: 0;
}

.editor textarea {
    font-size: 14px;
    background-color: rgb(241, 242, 243);
    color: inherit;
    width: calc(100% - 30px);
    padding: 5px 15px;
    height: 200px;
    border: 0;
}


#traceEvent {
    width: 10px;
    vertical-align: -7px;
}


.editor .code-editor {
    width: 100%;
    height: 200px;
    display: block;
}


.editor ul {
    display: block;
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: inherit;
}

.editor .edgeParams {
    background-color: rgb(228, 231, 232);
    padding: 5px 15px;
    height: 90px;
    line-height: 30px;
    margin-bottom: 2px;
}

.editor .variables {
    background-color: rgb(228, 231, 232);
    padding: 5px 10px;

    height: 130px;


    line-height: 30px;
    margin-bottom: 5px;
}


.editor .paramDescription {
    margin-top: 7px;
}


.editor ul li {
    background-color: rgb(228, 231, 232);
    padding: 5px 15px;
    height: 42px;
    line-height: 30px;
    margin-bottom: 2px;
}

.tao-panel-footer {
    width: calc(100%);
    height: 65px;
    background-color: rgb(228, 231, 232);
    border-top: 1px solid rgba(98, 125, 137, 0.5);
    display: block;
    padding: 15px;
    margin-top: 30px;
}

.tao-panel-footer .tao-footer-action-button {
    text-decoration: none;
    display: inline-block;

    padding: 8px;
    margin-left: 10px;
    border: 1px solid rgb(98, 125, 137);
    border-radius: 2px;

    color: rgb(98, 125, 137);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tao-panel-footer .tao-footer-action-button.green {
    color: rgb(22, 150, 136);
    border-color: rgb(22, 150, 136);

}

.code {
    font-size: 14px;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    color: inherit;
}

.right {
    float: right;
}

@media (min-width: 992px) {
    .modal-lg {
        width: 1200px;
        height: 40vh;
    }
}


.help-list:hover {
    color: rgb(98, 125, 137)
}

.taobtn {

}

.taobtn:hover {
    cursor: pointer;
}

.selectedButton {
    color: rgb(22, 150, 136);
}

.loginBackground {
    width: 100%;
    height: 100%;
    /*background-color: rgb(103, 161, 187);*/
    background-color: rgb(218, 223, 226);
    opacity: 1;
    position: fixed;
}

.loginBox {
    margin-left: -15%;
    /*top: 50%;*/
    left: 80%;
    width: 30%;
    height: 80%;
    border-left: 2px solid rgba(22, 150, 136, .64);
    position: relative;
    transform: translateY(12%);
}

.credentials {
    text-align: center;
    color: rgb(98, 125, 137);
    font-family: 'Roboto', helvetica, san-serif;
    position: relative;
    top: 30%;
}

.logo {
    color: white;
    font-family: 'Roboto', helvetica, san-serif;
}

.username {
    margin-top: 8%;
    width: 70%;
    line-height: 2.5em;
    outline: none;
    border: none;
    background-color: rgba(169, 169, 175, 0.39);
    padding-left: 10px;
    border-radius: 3px;
}

::-webkit-input-placeholder {
    color: white;
}

.password {
    margin-top: 3%;
    width: 70%;
    line-height: 2.5em;
    border: none;
    background-color: rgba(169, 169, 175, 0.39);
    padding-left: 10px;
    border-radius: 3px;
}

.loginButton {
    width: 17%;
    background-color: inherit;
    line-height: 2.5em;
    color: rgb(22, 150, 136);
    border: 1px solid rgb(22, 150, 136);
    margin-top: 5%;
    float: right;
    margin-right: 15%;
}

.loginBand {
    width: 100%;
    height: 60px;
    /*position: fixed;*/
    background-color: rgb(218, 223, 226);
    /*background-color: rgb(114, 138, 149);*/
    /*background-color: rgb(98, 125, 137);*/
}

.loginBandButton {
    float: right;
    /*border-left: none;*/
    /*border-top: none;*/
    /*border-bottom: none;*/
    border: none;
    height: 60px;
    width: 75px;
    font-family: 'Roboto', helvetica, san-serif;
    color: white;
    background-color: rgba(218, 223, 226, 0.7);
}

.loginBandButton:hover {
    background-color: rgb(98, 125, 137);
    /*color: rgb(98, 125, 137);*/
}

.border {
    width: 100%;
    height: 1px;
    border: 1px solid rgb(218, 223, 226);
}

.signupMessage {
    font-size: 10px;
}

.signupMessage:hover a {
    cursor: pointer;
}

.welcome {
    float: right;

}

.simulationList {
    /*margin-left: -15%;*/
    /*top: 50%;*/
    width: 100%;
    height: 100%;
    position: fixed;
    /*transform: translateY(10%);*/
    /*border-top: 1px solid rgb(204, 204, 204);*/
    overflow-y: auto;
}

.simulationItem {
    font-size: 15px;
    /*left: 50%;*/
    height: 10%;
    width: 100%;
    display: block;
    border-bottom: 1px solid rgb(204, 204, 204);
    display: table;
    color: rgb(98, 125, 137);
}

.simulationItem:hover {
    cursor: pointer;
    background-color: rgba(153, 153, 153, .6);
}

.simulationName {
    vertical-align: middle;
    display: table-cell;
    font-family: 'Roboto', helvetica, san-serif;
    padding-left: 20px;
}

.newSimulation {
    height: 10%;
    width: 400px;
    border: none;
    font-size: 15px;
    font-family: 'Roboto', helvetica, san-serif;
    color: rgb(98, 125, 137);;
}

.newSimulation:hover {
    background-color: rgba(153, 153, 153, .6);
}

.search {
    vertical-align: middle;
    display: table-cell;
    font-family: 'Roboto', helvetica, san-serif;
    padding-left: 20px;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid rgb(204, 204, 204);
    width: 100%;
    height: 10%;
}

textarea:focus, input:focus{
    outline: none;
}

.loginMenu {
    display: inline-block;
    width: 75px;
    height: 100%;
    left: calc(100% - 75px);
    background-color: rgb(98, 125, 137);
    position: fixed;
}

.login {
    height: 90px;
    background-color: rgb(214, 220, 223);
    color: rgb(98, 125, 137);
    position: relative;
    top: calc(100% - 90px);
    width: 100%;
    text-align: center;
    border-left: 1px solid rgb(98, 125, 137);
}

.login span {
    font-size: 12px;
    /*margin-top: 10px;*/
    position: relative;
    display: inline-block;
    padding: 33px 0 70px 0;
    padding-bottom: 6px;
    font-family: 'Roboto', helvetica, san-serif;
}

.loginArea {
    display: inline-block;
    height: 100%;
    width: 400px;
    /*float: left;*/
    background-color: rgb(214, 220, 223);
    position: fixed;
    left: calc(100% - 75px - 400px);
}